<div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Nueva educacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div>
              <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                <div class="form-group">
                  <label for="nombre">Nombre de la Institucion</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>

                <div class="form-group">
                  <label for="descripcion">Descripcion del estudio</label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion"
                    required>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="esTrabajoActual" name="esTrabajoActual"
                    [(ngModel)]="esActual" checked>
                  <label class="form-check-label" for="esTrabajoActual">
                    Estudio actual
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onCreate()">Agregar experiencia</button>
      </div>
    </div>
  </div>
</div>