<div class="card">
  <div class="card-body">
    <h5 class="card-title">Proyectos</h5>

    <div class="card-body item-proyecto">
      <h5 class="card-title"><a href="#">Portafolio Web</a></h5>
      <p class="card-text">Desarrollo de maquetado HTML y CSS con Bootstrap basado en Angular.</p>
    </div>

    <div class="card-body item-proyecto">
      <h5 class="card-title"><a href="#">Proyecto Final</a></h5>
      <p class="card-text">Desarrollo una aplicación web full stack, que mostrará: datos
        personales, estudios cursados, experiencia laboral y conocimiento de las tecnologías.</p>
    </div>

  </div>
</div>