<div class="card">
  <div class="card-body">
    <h5 class="card-title">Proyectos</h5>

    <div class="card-body item-proyecto">
      <h5 class="card-title"><a href="#">e-Farmacia</a></h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus impedit odit aut
        cupiditate pariatur nam soluta rem quas, quibusdam eveniet officiis eum magni iste tenetur corrupti!
        Pariatur eveniet distinctio totam.</p>
    </div>

    <div class="card-body item-proyecto">
      <h5 class="card-title"><a href="#">Sistema de monitoreo</a></h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, voluptatum. Soluta, eveniet
        porro provident voluptatem amet quod quisquam sequi aliquid. Temporibus hic cupiditate sequi nemo eius quam
        esse tenetur iste!</p>
    </div>
  </div>
</div>